<% include ../partials/head %>
  <body>
    <nav class="nav">
      <h4 class="text-white mr-3 pt-1 ml-3">
        <strong>Youtube Socket App</strong>
      </h4>
    </nav>
    <form
      id="myForm"
      action="/input"
      method="POST"
      class="mt-3 text-center container"
    >
      <div class="form-group mt-3">
        <label>Enter a Youtube URL:</label>
        <input
          id="urlInput"
          name="urlInput"
          type="text"
          class="form-control"
          placeholder="Enter the URL..."
        />
      </div>
      <input type="submit" class="btn btn-warning mt-1 mb-3" value="Submit" />
    </form>

    <script>
      let socket = io();
      socket.on("input", url => {
        window.open("./player", "_self");
      });
    </script>
  </body>
</html>
